*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0 auto;
}
header{
    width: auto;
    margin: auto;

}
.imgContainer{
    background: url(image/Gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    padding: 15px;
    justify-content: center;
    display: flex;
    width: 95%;
    height: 100%;
    margin: auto;
   
}

.logo
{   
    
    cursor: pointer;
   
    width: 246px;
    height: 78px;
    padding: 17px 20px;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;

}


.navbar ul li{
    align-items: center;
    padding: 18px;
    display: flex;
    text-decoration: none;
}
.navbar ul li a{
    text-decoration: none;

}

 .navbar ul a{ 
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height:27px;
    letter-spacing: 0.2px;
    color:white;
    
}
#text {
color: black;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.1px;
background: #EFEFEF;
}

.input{
    padding: 19px 39px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 39px;
}
.button {
    
    padding: 19px 38px;
    background: #FFFFFF;
    border-radius: 35px;   
    border: 2px solid white; 
  
}
.master{
    margin-left: -23px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #2091F9;
    
}
.container1{
    position: relative;
    padding: 108px 0 0px 0px;
}
.textcontent{
   
    
    margin: auto;
    
    text-align: center;
}
.textcontent h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.1px;
    margin-bottom:  -20px;
    color: #FFFFFF;
}
.textcontent h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    margin-bottom:  20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.textcontent h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.button1{
    background: #FFFFFF;
    align-items: center;
    border-radius: 35px;
    padding: 16px 0px 16px 0px;
    width: 236px;
    height: 65px;
    border: 2px solid white;
}
.masterbtn{
    margin-top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #2091F9;
}
 .screenmask{
   
    margin: 13%;
    padding: 12px;
 
    } 
    .screenmask img{
        width: 100%;
        height: 50%;
    }

    .feature{
      padding: 0px;
      background: #FFFFFF;
     
}
    
    .content{
      
      margin: auto;
      width: 300px;
      text-align: center;
      
}

.content h4{
  font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;
    
    }
    .content h2{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 46px;
      line-height: 57px;
      letter-spacing: 0.2px;
      color: #252B42;
    }
    .content .features h3 {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      letter-spacing: 0.1px;
      color:#252B42;
     }
     .box{
        
      display: flex;
      flex-direction: row;
        align-items: center;
      padding: 0px;
     }

    .media{
      width: 151%;
     }
     .media img{
         width: 100%;
     }
     .items{
         padding: 35px;
       
     }
     .features1{
         display: flex;
         flex-direction: row;
         padding: 2px;

     }
     .features1 img{
        width: 20%;
        padding-right: 12px;
     }  
 
     p{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.2px;
      color: #374754;
     }

     .lightning{
        background: linear-gradient(39.97deg, #00F3B9 0.79%, #2187FF 79.29%);
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: 450px;
        padding-top: 33px;
     }
     .twobutton{
         margin: auto;
         padding: 7px;
        justify-content: space-evenly;
        text-align: center;
       
    }
     .button2{
        padding: 16px 45px;
        width: 200px;
        height: 56px;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 35px; 
        margin-left: 10px;
        background: transparent;
        align-items: center;
     }

     .text{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
     }
     .lightcta{
        
       
        width: auto;
        padding: 70px;
         }
         .lightcontent{
             justify-content: center;
             display: flex;
            
            margin: auto;
         }
         .undraw{
            width: 540px;
           
         }
         .undraw img{
            width: 516px;
         }

         .right h2{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 46px;
            line-height: 57px;
            letter-spacing: 0.2px;
            color: #252B42;
         }
      .right{
        width: 455px;
          padding: 20px;
      }
    
		 .button3 {
            margin-left: 20px;
			border-radius: 35px;
            padding: 19px 49px;
        align-items: center;
	    background: #2091F9;
	    border: 2px solid  #2091F9; 
			color: white;
			background: #2091F9;
	}
 .partners{
     width: auto;
	 padding: 30px;
	 background: #FFFFFF;
 }
	.partner {
			margin: auto;
			
			text-align: center;
 }
 .partnertext h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 57px;
    /* identical to box height, or 124% */
    
    text-align: center;
    letter-spacing: 0.2px;
    
    /* text */
    
    color: #252B42;

 }


.partnertext{
    width: 300px;
    margin: auto;
}

   .align{
    display: flex;
    list-style-type: none;
    margin: auto;
    justify-content: center;
    padding: 25px;
		
 } 
 .arrange{
    
  padding: 30px;
} 
.button4{
  border-radius: 35px;
padding: 16px 0px 16px 0px;
  width: 258px;
height: 62px;
  font-size: 22px;
  line-height: 33px;
  align-items: center;
background: #2091F9;
border: 2px solid  #2091F9; 
  color: white;
}

.testimonials{
 
 width: auto;
 background: white;
   text-align: center;
  padding: 86px 0;
}

.testimonials h1{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
  font-size: 46px;
line-height: 57px;


text-align: center;
letter-spacing: 0.2px;

color: #252B42;
}

.row{
   
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 margin: 30px;

}
.col{
  max-width: 21%;
  margin: 30px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

}
.testimonial{
   padding: 26px;
}

.testimonial img{
 width: 100px;
 height: 100px;
 border-radius: 50%; 
}
.msg{
 margin: 20px 0;
}
.stars {
  
  color: orange;

}
/* .checked{
 color: orange;
} */



.pricing{
  width: auto;
  
  background: #252B42;
  padding: 80px;
}
.price{
  width: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 33px;
}
.price1{
  max-width: 31%; 
}
.price2{
  
  margin: 31px;
}

.price1 h1{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.price1 p{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.2px;
color: #FFFFFF;
}
.price2 h4{

font-size: 16px;
line-height: 20px;
letter-spacing: 0.2px;
color: #FFFFFF;
}

.button5{
  margin-left: 1px;
width: 159px;
height: 52px;
align-items: center;
background: #2091F9;
border: 2px solid  #2091F9; 
border-radius: 35px;
line-height: 16px;
letter-spacing: 0.2px;
color: #FFFFFF;
}

.contactus{
  padding: 50px 0;
  width: auto;
  background-color:white;
}
.contactus h2{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
  font-size: 46px;
line-height: 57px;


text-align: center;
letter-spacing: 0.2px;

color: #252B42;

}

.contact{
 
  text-align: center;
  margin: auto;
  width: 350px;
  
}
.social img{
  padding: 20px;
}
.map {  
  text-align: center;
  padding: 20px;
  
  margin: auto;;  
}
.map img{
  width: 54%;
}
.address{
  display: flex;
  justify-content: center;
  margin: auto;
}
.addsbox1{
  text-align: center;
  padding: 5px;
 max-width: 15%;
}
.addsbox2{
  text-align: center;
  max-width: 26%;
  padding: 7px;
}
.addsbox3{
  text-align: center;
  max-width: 26%;
  padding: 13px;
}
.details{
  margin: auto;
  width: 50%;
  padding: 43px;
  
}
 

.contactdetails{
  margin: auto;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

}
.detail{
  display: flex;
  flex-direction: column;
  padding: 23px;
 
}

#inputs{
padding: 19px 20px;
margin-bottom: 35px;
background: #F5F5F5;
border: 1px solid #E8E8E8;
box-sizing: border-box;
border-radius: 39px;
}
#message{
  padding: 20px;
  background: #F5F5F5;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  height: 160px;
  margin-bottom: 35px;


}
#button1{
  width: 159px;
  height: 52px;
  align-items: center;
  background: #2091F9;
  border: 2px solid #2091F9;
  border-radius: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.footerpage{
 
  margin-top: 6%;
  width: auto;
  background: #252B42;
  padding: 70px;
  
}
.footer{
 
  width: 100%;
  margin: auto;
  padding: 36px;
  
}
.footrow{
 
  display: flex;
  flex-wrap: wrap;
}
.footcol{
  
  width: 20%;
  padding: 10px;
  
}
.footcol h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
.footcol p{

font-size: 13px;
line-height: 23px;
letter-spacing: 0.2px;
color: #FFFFFF;
}


.list{
padding: 1%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 45px;
letter-spacing: 0.2px;
color: #FFFFFF;
}
.button6{
  padding: 19px 95px;
  border: 1px solid #2091F9;;
  box-sizing: border-box;
  background: #2091F9;
border-radius: 35px;

  }

  .text{
      margin-top: 5%;
      text-align: center;
      font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  }
 
 /* media query*/

 @media screen and (max-width:750px){
    .align {
        
        flex-direction: column;  
    }
 .row {
    flex-direction: column;
    align-items: center;
    
 }
 .lightcontent{
    flex-direction: column;
    align-items: center;

 }
 .box{
    flex-direction: column;
    align-items: center;
 }
 .features1 img{
     width:18%;
 }
 .col{
     max-width: 50%  !important;
 }
 .testimonial{
     max-width: 100%;
     
 }
 .price{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

 }
 .price1{
   max-width: 75% !important;
 }
 .price1 h1{
   text-align: center;

 }
 .price1 p{
  text-align: center;

}
.button5{
  align-items: center;
}
.items{
  width: 335px;
  
}





}   
 @media screen and (max-width:750px){
    .address{
        border: 1px solid;
        flex-direction: column; 
        align-items: flex-start; 
        
    }
    .addsbox1{
        margin: auto;
        border: 1px solid;
        display: flex;
        align-items: center;
        max-width: 38% !important;
    }
    .addsbox2{
        margin: auto;
        border: 1px solid;
        display: flex;
        align-items: center;
        max-width: 38% !important;
    }
    
    .addsbox3{
        margin: auto;
        border: 1px solid;
        display: flex;
        align-items: center;
        max-width: 38% !important;
    }
    .addsbox1  img {
        padding-right: 15px;
    }
    .addsbox2  img {
        padding-right: 20px;
    }
    .addsbox3  img {
        padding-right: 20px;
    }
    .footrow{
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    .list{
        text-align: center;
    }
    .footcol{
        text-align: center;

    } 

    



 