*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0 auto;
}
header{
    width: auto;
    margin: auto;

}
.imgContainer{
    background: url(image/Gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    padding: 15px;
    justify-content: center;
    display: flex;
    width: 95%;
    height: 100%;
    margin: auto;
   
}

.logo
{   
    
    cursor: pointer;
   
    width: 246px;
    height: 78px;
    padding: 17px 20px;
}

.navbar ul li{
    align-items: center;
    padding: 18px;
    display: flex;
    text-decoration: none;
}
 .navbar ul{ 
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height:27px;
    letter-spacing: 0.2px;
    color:white;
    
}
#text {
color: black;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.1px;
}

.input{
    padding: 19px 39px;
    background: #EFEFEF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 39px;
    Width: 273px;
    Height: 54px;
}
.button {
    
    padding: 19px 38px;
    background: #FFFFFF;
    border-radius: 35px;   
    border: 2px solid white; 
  
}
.master{
    margin-left: -23px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #2091F9;
    
}
.container1{
    position: relative;
    margin-top: 100px;
}
.textcontent{
   
    margin-top: 90px;
    margin: auto;
    
    text-align: center;
}
.textcontent h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.1px;
    margin-bottom:  -20px;
    color: #FFFFFF;
}
.textcontent h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    margin-bottom:  20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.textcontent h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.button1{
    margin-top: 50px;
    background: #FFFFFF;
    align-items: center;
    border-radius: 35px;
    padding: 16px 0px 16px 0px;
    width: 236px;
    height: 65px;
    border: 2px solid white;
}
.masterbtn{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #2091F9;
}


 .screenmask{
   
    margin: 13%;
    padding: 50px;
    width: auto;
    height: auto;
    } 
    .screenmask img{
        width: 100%;
        height: 50%;
    }

    .feature{
     
      padding: 0px;
      background: #FFFFFF;
      margin-top: 10%;
}
    
        
    .content{
      
      margin: auto;
      width: 300px;
      text-align: center;
      margin-top: 28px;
}

.content h4{
  font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;
    
    }
    .content h2{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 46px;
      line-height: 57px;
      letter-spacing: 0.2px;
      color: #252B42;
    }
    .content .features h3 {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      letter-spacing: 0.1px;
      color:#252B42;
     }
     .box{
        
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
     }
    .media{
      width: 62%;
     }
 
     p{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.2px;
      color: #374754;
     }

     .lightning{
        background: linear-gradient(39.97deg, #00F3B9 0.79%, #2187FF 79.29%);
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: 450px;
        padding-top: 33px;
     }
     .twobutton{
         margin: auto;
         padding: 70px;
        justify-content: space-evenly;
        text-align: center;
       
    }
     .button2{
        padding: 16px 45px;
        width: 200px;
        height: 56px;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 35px; 
        margin-left: 10px;
        background: transparent;
        align-items: center;
     }

     .text{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
     }
     .lightcta{
        
        height: 450px;
        width: auto;
        padding: 70px;
         }
         .lightcontent{
             justify-content: center;
             display: flex;
            
            margin: auto;
         }
         .undraw{
            width: 540px;
           
         }
         .undraw img{
            width: 516px;
         }

         .right h2{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 46px;
            line-height: 57px;
            letter-spacing: 0.2px;
            color: #252B42;
         }
      .right{
        width: 455px;
          padding: 20px;
      }
    
		 .button3 {
            margin-left: 20px;
			border-radius: 35px;
	    padding: 16px 0px 16px 0px;
	        width:141px;
	    height: 62px;
    align-items: center;
	background: #2091F9;
	border: 2px solid  #2091F9; 
			color: white;
			background: #2091F9;
	}
 .partner{
     width: auto;
	 height: 450px;
	 background: #FFFFFF;
 }
	.partner1 {
			margin: auto;
			width: 300px;
			text-align: center;
 }


   .align{
   
    margin: auto;
    justify-content: center;
    padding: 25px;
		
 } 
  ul  {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
 }
 .arrange{
    
    padding: 30px;
 } 
 .button4{
    border-radius: 35px;
	padding: 16px 0px 16px 0px;
    width: 258px;
	height: 62px;
    font-size: 22px;
    line-height: 33px;
    align-items: center;
	background: #2091F9;
	border: 2px solid  #2091F9; 
    color: white;
 }

 .testimonials{
   
	 width: auto;
	 background: white;
     text-align: center;
     margin-bottom: 6%;
 }


 .row{
     
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: center;
	 margin: 30px;
	
 }
 .col{
    max-width: 21%;
    margin: 40px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	
 }
 .testimonial{
     padding: 26px;
 }
 
 .testimonial img{
	 width: 100px;
	 height: 100px;
	 border-radius: 50%; 
 }
 .msg{
	 margin: 20px 0;
 }
 .stars{
	 color: orange;
 }


 .pricing{
    width: auto;
    
    background: #252B42;
    padding: 30px;
 }
.price{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 33px;
}
.price1{
    max-width: 34%; 
}
.price2{
    
    margin: 31px;
}

.price1 h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.price1 p{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.2px;
color: #FFFFFF;
}
.price2 h4{
 
font-size: 16px;
line-height: 20px;
letter-spacing: 0.2px;
color: #FFFFFF;
}

.button5{
    margin-left: 1px;
width: 159px;
height: 52px;
align-items: center;
background: #2091F9;
border: 2px solid  #2091F9; 
border-radius: 35px;
line-height: 16px;
letter-spacing: 0.2px;
color: #FFFFFF;
}

.contactus{
    margin-bottom: 3%;
    width: auto;
    background-color:white;
}
.contact{
   
    text-align: center;
    margin: auto;
    width: 300px;
    padding-top: 93px;
}
.social img{
    padding: 20px;
}
.map {  
    text-align: center;
    padding: 20px;
    
    margin: auto;;  
}
.map img{
    width: 54%;
}
.address{
    display: flex;
    justify-content: center;
    margin: auto;
}
.addsbox1{
    text-align: center;
    padding: 5px;
    width: 17%;
}
.addsbox2{
    text-align: center;
    max-width: 14%;
    padding: 7px;
}
.addsbox3{
    text-align: center;
    max-width: 14%;
    padding: 13px;
}
.details{
    margin: auto;
    width: 44%;
    padding: 43px;
    
}
   

.contactdetails{
    margin: auto;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	
}
.detail{
    display: flex;
    flex-direction: column;
    padding: 23px;
   
}

#inputs{
padding: 19px 20px;
margin-bottom: 35px;
 background: #F5F5F5;
border: 1px solid #E8E8E8;
box-sizing: border-box;
border-radius: 39px;
}
#message{
    padding: 20px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    height: 160px;
    margin-bottom: 35px;


}
#button1{
    
        width: 159px;
        height: 52px;
        padding: 18px 38px;
        background: #2091F9;
        border: 2px solid  #2091F9; 
        border-radius: 35px;
        color: #FFFFFF;
        text-align: center;
    
}

.footerpage{
   
    margin-top: 6%;
    width: auto;
    background: #252B42;
    padding: 70px;
    
}
.footer{
   
    width: 100%;
    margin: auto;
    padding: 36px;
    
}
.footrow{
   
    display: flex;
    flex-wrap: wrap;
}
.footcol{
    
    width: 20%;
    padding: 10px;
    
}
 .footcol h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
 }
.footcol p{

font-size: 13px;
line-height: 23px;
letter-spacing: 0.2px;
color: #FFFFFF;
}


.list{
padding: 1%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 45px;
letter-spacing: 0.2px;
color: #FFFFFF;
}
.button6{
    
        margin-top: 3%;
        border-radius: 35px;
        padding: 16px 0px 16px 0px;
        width: 274px;
        height: 50px;
        align-items: center;
        background: #2091F9;
        border: 2px solid  #2091F9;
        color: #FFFFFF; 
    }
/* media query */
@media (max-width: 1000){
    .align{
        display: block;
    }
}
